<%= form_for @post do |f| %>
    <%= f.label :description %><%= f.text_field :description %><br />
    <%= f.fields_for :post_categories, @post.post_categories.build do |b| %>
        <div class="field">
          <%= b.label :post_categories_id %>
          <%= b.collection_select :post_category_id,
                                  PostCategoryMaster.all,
                                  :id,
                                  :name,
                                  multiple: true,
                                  prompt: 'please select' %>
        </div>
    <% end -%>
    <%= f.submit %>
    <br />
<% end %>
